<h2>Browse Jobs</h2>

<% @jobs.each do |job| %>
  <% post_date = Time.at(job["posted"]).strftime('%b. %-d, %Y') %>

  <div class="job-row">
    <%= link_to job['title'], "jobs/#{job['id']}", class: "show-page-link" %>
    <em>- posted on <%= job['poster'] %></em>

    <br>

    <b><%= "#{job['company']} - #{job['city']}, #{job['state']}" %></b>

    <br>

    <em>
      <%= post_date %>
    </em>
    - <%= job['body'] %>
  </div>
<% end %>
