<h2>Post a New Job</h2>

<%= form_tag('/jobs') do -%>
  <%= label_tag :poster, "Site posted on" %>
  <%= text_field_tag :poster, nil, required: true %>

  <%= label_tag :company %>
  <%= text_field_tag :company, nil, required: true  %>

  <%= label_tag :city %>
  <%= text_field_tag :city, nil, required: true  %>

  <%= label_tag :state %>
  <%= text_field_tag :state, nil, required: true  %>

  <%= label_tag :title, "Job Title" %>
  <%= text_field_tag :title, nil, required: true  %>

  <%= label_tag :body, "Description" %>
  <%= text_field_tag :body, nil, required: true  %>

  <%= label_tag :keywords, "Search Keywords" %>
  <%= text_field_tag :keywords, nil, required: true  %>

  <%= submit_tag "Post Job" %>
<% end %>
