<h2>Post a New Job</h2>

<%= form_for @job do |f| -%>
  <%= f.label :poster, "Site posted on" %>
  <%= f.text_field :poster, required: true %>

  <%= f.label :company %>
  <%= f.text_field :company, required: true  %>

  <%= f.label :city %>
  <%= f.text_field :city, required: true  %>

  <%= f.label :state %>
  <%= f.text_field :state, required: true, placeholder: "XX"  %>

  <%= f.label :title, "Job Title" %>
  <%= f.text_field :title, required: true  %>

  <%= f.label :keywords, "Search Keywords" %>
  <%= f.text_field :keywords, required: true  %>

  <%= f.label :body, "Description" %>
  <%= f.text_area :body, required: true  %>

  <%= f.submit "Post Job" %>
<% end %>
